<div class="container">
    <div id="contact-details">
        <h3>You can contact us in any of the following ways:</h3><br>
        <p><b>Email Id</b> : {{contactUsVm.details.emailId}}</p><br>
        <p><b>Address</b> : {{contactUsVm.details.address +", "+contactUsVm.details.city+", "+contactUsVm.details.state+", "+contactUsVm.details.zip}}</p><br>
        <p><b>Contact Number</b> : {{"+1 " + contactUsVm.details.phoneNumber}}</p><br>
        <p><b>Days of Operation</b> : {{contactUsVm.details.daysOfOperation}}</p><br>
        <p><b>Opening Time</b> : {{contactUsVm.details.openingTime}}</p><br>
        <p><b>Closing Time</b> : {{contactUsVm.details.closingTime}}</p><br>

    </div>


</div>