<div class="container">
    <div id="mycarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#mycarousel" data-slide-to="0" class="active"></li>
            <li data-target="#mycarousel" data-slide-to="1"></li>
            <li data-target="#mycarousel" data-slide-to="2"></li>
            <li data-target="#mycarousel" data-slide-to="3"></li>
            <li data-target="#mycarousel" data-slide-to="4"></li>
            <li data-target="#mycarousel" data-slide-to="5"></li>
            <li data-target="#mycarousel" data-slide-to="6"></li>
            <li data-target="#mycarousel" data-slide-to="7"></li>
        </ol>


        <div class="carousel-inner">
            <div class="item active">
                <img id="carousel-image" src="app/images/chevys_logos.jpg" alt="LOGO SPECIAL"/>
            </div>
            <div class="item">
                <img id="carousel-image" src="app/images/chevys1.jpg" alt="HAPPY HOUR"/>
            </div>
            <div class="item">
                <img id="carousel-image" src="app/images/chevys2.jpg" alt="GOUACTOBERFEST"/>
            </div>
            <div class="item">
                <img id="carousel-image" src="app/images/chevys3.jpg" alt="KIDS EAT FREE TUESDAY"/>
            </div>
            <div class="item">
                <img id="carousel-image" src="app/images/chevys4.jpg" alt="NYC VIEW"/>
            </div>
            <div class="item">
                <img id="carousel-image" src="app/images/chevys5.jpg" alt="PLEDGES"/>
            </div>
            <div class="item">
                <img id="carousel-image" src="app/images/chevys6.jpg" alt="TAKE OUT"/>
            </div>
            <div class="item">
                <img id="carousel-image" src="app/images/chevys_logo.jpg" alt="LOGO"/>
            </div>


        </div>


        <a class="left carousel-control" href="#mycarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#mycarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
</div>


<div id="other-options" class="container">
    <div class="row">

        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-fw fa-check"></i> Specials</h4>
                </div>
                <div class="panel-body">
                    <p>Check out our seasonal Specials, Kids Special and our all time favorite Happy Hour specials.<br /> You would not want to miss this !!!  </p>
                    <a href="#/home" class="btn btn-warning">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-star"></i> Testimonials</h4>
                </div>
                <div class="panel-body">
                    <p>We value our customers a lot. They know it and thats why they like us.<br />See what they have to say about us !!!</p>
                    <a href="#/home" class="btn btn-warning">Click Here</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-calendar"></i> Reservation</h4>
                </div>
                <div class="panel-body">
                    <p>Our restaurant is always crowded <i class="fa fa-smile-o"></i><br /> Don't want you to stand in the long waiting queue? Then click below !!!</p>
                    <a href="#/reservation" class="btn btn-warning">Reserve A Table</a>
                </div>
            </div>
        </div>
    </div>
</div>