<div class="container">
    <div class = "row">
        <div class = "col-sm-4">
            <h2 style="color: #E80D0D">Appetizers</h2>
            <table id="menuTable" class = "table table-bordered">
                <tbody>
                    <tr>
                        <td>Lasooni Gobi</td>
                        <td>{{6.25 | currency}}</td>
                    </tr>
                    <tr>
                        <td>Vegetable Samosa</td>
                        <td>{{4.25 | currency}}</td>
                    </tr>
                    <tr>
                        <td>Vegetable Pakora</td>
                        <td>{{5.25 | currency}}</td>
                    </tr>
                    <tr>
                        <td>Mysore Masala Dosa</td>
                        <td>{{8.25 | currency}}</td>
                    </tr>
                    <tr>
                        <td>Uttapam</td>
                        <td>{{9.25 | currency}}</td>
                    </tr>
                    <tr>
                        <td>Ragada Pattis</td>
                        <td>{{7.25 | currency}}</td>
                    </tr>
                    <tr>
                        <td>Idli</td>
                        <td>{{4.25 | currency}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class = "col-sm-4">
            <h2 style="color: #E80D0D">Soups, Salads & Sides</h2>
            <table id="menuTable" class = "table table-bordered">
                <tbody>
                <tr>
                    <td>Mulligatawny</td>
                    <td>{{3.25 | currency}}</td>
                </tr>
                <tr>
                    <td>Chicken Tikka Chat</td>
                    <td>{{6.25 | currency}}</td>
                </tr>
                <tr>
                    <td>Vegetable Pakora</td>
                    <td>{{5.25 | currency}}</td>
                </tr>
                <tr>
                    <td>Mysore Masala Dosa</td>
                    <td>{{8.25 | currency}}</td>
                </tr>
                <tr>
                    <td>Uttapam</td>
                    <td>{{9.25 | currency}}</td>
                </tr>
                <tr>
                    <td>Ragada Pattis</td>
                    <td>{{7.25 | currency}}</td>
                </tr>
                <tr>
                    <td>Idli</td>
                    <td>{{4.25 | currency}}</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class = "col-sm-4">
            <h2 style="color: #E80D0D">Breads</h2>
            <table id="menuTable" class = "table table-bordered">
                <tbody>
                <tr>
                    <td>Naan</td>
                    <td>{{2.25 | currency}}</td>
                </tr>
                <tr>
                    <td>Garlic Naan</td>
                    <td>{{3.25 | currency}}</td>
                </tr>
                <tr>
                    <td>Oinion Kulcha</td>
                    <td>{{4.75 | currency}}</td>
                </tr>
                <tr>
                    <td>Aaloo Paratha</td>
                    <td>{{5.25 | currency}}</td>
                </tr>
                <tr>
                    <td>Tandoori Roti</td>
                    <td>{{2.25 | currency}}</td>
                </tr>
                <tr>
                    <td>Poori</td>
                    <td>{{4.25 | currency}}</td>
                </tr>
                <tr>
                    <td>Bread Basket</td>
                    <td>{{10.25 | currency}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


    <div class = "row">
        <div class = "col-sm-4">
            <h2 style="color: #E80D0D">Vegetarian Specialities</h2>
            <table id="menuTable" class = "table table-bordered">
                <tbody>
                <tr>
                    <td>Lasooni Gobi</td>
                    <td>{{6.25 | currency}}</td>
                </tr>
                <tr>
                    <td>Vegetable Samosa</td>
                    <td>{{4.25 | currency}}</td>
                </tr>
                <tr>
                    <td>Vegetable Pakora</td>
                    <td>{{5.25 | currency}}</td>
                </tr>
                <tr>
                    <td>Mysore Masala Dosa</td>
                    <td>{{8.25 | currency}}</td>
                </tr>
                <tr>
                    <td>Uttapam</td>
                    <td>{{9.25 | currency}}</td>
                </tr>
                <tr>
                    <td>Ragada Pattis</td>
                    <td>{{7.25 | currency}}</td>
                </tr>
                <tr>
                    <td>Idli</td>
                    <td>{{4.25 | currency}}</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class = "col-sm-4">
            <h2 style="color: #E80D0D">Lamb Specialities</h2>
            <table id="menuTable" class = "table table-bordered">
                <tbody>
                <tr>
                    <td>Mulligatawny</td>
                    <td>{{3.25 | currency}}</td>
                </tr>
                <tr>
                    <td>Chicken Tikka Chat</td>
                    <td>{{6.25 | currency}}</td>
                </tr>
                <tr>
                    <td>Vegetable Pakora</td>
                    <td>{{5.25 | currency}}</td>
                </tr>
                <tr>
                    <td>Mysore Masala Dosa</td>
                    <td>{{8.25 | currency}}</td>
                </tr>
                <tr>
                    <td>Uttapam</td>
                    <td>{{9.25 | currency}}</td>
                </tr>
                <tr>
                    <td>Ragada Pattis</td>
                    <td>{{7.25 | currency}}</td>
                </tr>
                <tr>
                    <td>Idli</td>
                    <td>{{4.25 | currency}}</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class = "col-sm-4">
            <h2 style="color: #E80D0D">Chicken Specialities</h2>
            <table id="menuTable" class = "table table-bordered">
                <tbody>
                <tr>
                    <td>Naan</td>
                    <td>{{2.25 | currency}}</td>
                </tr>
                <tr>
                    <td>Garlic Naan</td>
                    <td>{{3.25 | currency}}</td>
                </tr>
                <tr>
                    <td>Oinion Kulcha</td>
                    <td>{{4.75 | currency}}</td>
                </tr>
                <tr>
                    <td>Aaloo Paratha</td>
                    <td>{{5.25 | currency}}</td>
                </tr>
                <tr>
                    <td>Tandoori Roti</td>
                    <td>{{2.25 | currency}}</td>
                </tr>
                <tr>
                    <td>Poori</td>
                    <td>{{4.25 | currency}}</td>
                </tr>
                <tr>
                    <td>Bread Basket</td>
                    <td>{{10.25 | currency}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>